In [2]:
print('h0')  # вывод на консоль

h0

In [4]:
s = 'hi'

In [5]:
print(s)

hi

NoneType

In [3]:
a = 1  # целый тип данных (int)
b = 1.21  # тип float
c = True  # тип bool
d = 'stroka'  # тип строка (str)
e = None  # без типа или ничего
f = [a,b,c,d,e]  # список (list)
g = (a,b,c,d,e)  # кортеж (tuple)

In [105]:
bool(None)

False

In [72]:
f

[1, 1.21, True, 'stroka', None]

In [73]:
f.append(f)

In [74]:
f

[1, 1.21, True, 'stroka', None, [...]]

In [75]:
f[5]

[1, 1.21, True, 'stroka', None, [...]]

In [76]:
f[5][5]

[1, 1.21, True, 'stroka', None, [...]]

In [77]:
f[5][5][5][5][5][5][5]

[1, 1.21, True, 'stroka', None, [...]]

In [78]:
g

(1, 1.21, True, 'stroka', None)

In [46]:
type(int('1')), type('1')

(int, str)

In [48]:
float('1.2'), bool('True')

(1.2, True)

In [59]:
a = 5
a **=2  # a = a ** 2
a

25

In [80]:
4,

(4,)

In [ ]:
a,b = 1,2

a,b = b,a

SyntaxError: cannot assign to literal (3813133841.py, line 1)

# Кортеж

In [1]:
tuple([1,2,4])

(1, 2, 4)

In [ ]:
from main import print_hi

# Список

In [85]:
#    0  1  2  3
b = [1, 2, 3, 4]
#   -4 -3 -2 -1

In [86]:
b

[1, 2, 3, 4]

In [87]:
b[1], b[3]

(2, 4)

In [88]:
b[5]

IndexError: list index out of range

In [89]:
len(b)-1

3

In [90]:
b[-2], b[len(b)-2]

(3, 3)

In [91]:
b.append(5)

In [92]:
b

[1, 2, 3, 4, 5]

In [93]:
b.extend([1,2,3])

In [94]:
b

[1, 2, 3, 4, 5, 1, 2, 3]

In [95]:
b.insert(0,-1)

In [96]:
b

[-1, 1, 2, 3, 4, 5, 1, 2, 3]

In [97]:
b[0] = 0

In [98]:
b

[0, 1, 2, 3, 4, 5, 1, 2, 3]

In [99]:
b[0],b[1] = b[1],b[0]

In [100]:
b

[1, 0, 2, 3, 4, 5, 1, 2, 3]

# Условия

In [101]:
a,b = 1,2
if a < b:
    print(a)
elif a == b:
    print("equal")
else:
    print(b)

1

# Циклы

In [108]:
f = 5
while f:
    print("hi", f)
    f -= 1
print("end")

hi 5
hi 4
hi 3
hi 2
hi 1
end

In [110]:
c = [1,2,3,4]
for el in c:
    print(el**2)

1
4
9
16

# Ввод данных

In [111]:
b = input()

5

In [114]:
b

'5'

# Словарь

In [8]:
a = {
    'a': 5,   # ключ: значение
    4: 3, 
    2.0: 'as', 
    'd': '4'
}

# к словарю можно обращаться по ключу
# ключами должны быть неизменяемые типы данных

In [9]:
a

{'a': 5, 4: 3, 2.0: 'as', 'd': '4'}

In [10]:
a['a']  # доступ по ключу

5

In [11]:
a[4]

3

# Не точность сравнения float типов

In [12]:
import math

In [18]:
a = 2.0
b = math.sqrt(4.0)

In [31]:
((1/3)**2)**(1/2)

0.3333333333333333

In [27]:
math.pow(3.0000001**100, 1/100)

3.0000001

In [23]:
a,b

(2.0, 2.0)

In [22]:
d = 0.001
if abs(a - b) < d:
    print("equal")

True

3.0

In [30]:
math.pow(4,0.5)

2.0

# Строки

In [34]:
for s in 'abcdefg': 
    print(s)

a
b
c
d
e
f
g

In [42]:
s = 'abcdefghijklmnopq'
len(s)

17

In [43]:
s[0]

'a'

In [44]:
s.capitalize()

'Abcdefghijklmnopq'

In [45]:
s

'abcdefghijklmnopq'

# Слайсы

In [46]:
s[:3]

'abc'

In [47]:
s[1:]

'bcdefghijklmnopq'

In [48]:
s[1:3]

'bc'

In [50]:
s[2:10:2]  # со второго по десятый каждый второй

'cegi'

In [52]:
s[:-1]

'abcdefghijklmnop'

In [53]:
s[-1]

'q'

In [55]:
s[0:-3]

'abcdefghijklmn'

In [56]:
s

'abcdefghijklmnopq'

In [57]:
s[0:-1]

'abcdefghijklmnop'

In [58]:
s[::-1]

'qponmlkjihgfedcba'

In [64]:
s[0:len(s)]

'abcdefghijklmnopq'

In [65]:
s[len(s):0:-1]

'qponmlkjihgfedcb'

In [66]:
s[len(s):-1:-1]

''

In [68]:
s[-1:0]

''

In [72]:
s[len(s):None:-1]

'qponmlkjihgfedcba'

In [73]:
s

'abcdefghijklmnopq'

# Работа с файлами

In [81]:
s = [
    'stroka1',
    'stroka2',
    'stroka3',
]

with open('text.txt', 'a') as f:
    for el in s:
        f.write(el + "\n")
print('end')

end

In [76]:
import os

In [77]:
os.path.exists('text.txt')  # существует ли файл

True

In [89]:
a = []
with open('text.txt') as f:
    print(f.read())  # read - чтение всего файла целиком
    for el in f.readlines():
        a.append(el.strip())

In [90]:
a

['stroka1', 'stroka2', 'stroka3', 'stroka1', 'stroka2', 'stroka3']

In [86]:
type(a[0])

str

In [87]:
a[0].strip()

'stroka1'

In [88]:
'  aaaa  '.strip()

'aaaa'

In [92]:
int('stroka1'[6:])

1

In [94]:
a

['stroka1', 'stroka2', 'stroka3', 'stroka1', 'stroka2', 'stroka3']

In [93]:
[int(el[6:]) for el in a]

[1, 2, 3, 1, 2, 3]

In [95]:
[int(el[6:]) for el in a if int(el[6:]) != 3]

[1, 2, 1, 2]

In [96]:
def to_int(s):
    return int(s[6:])

In [97]:
m = [to_int(el) for el in a if to_int(el) != 3]

In [ ]:
Напишите функцию которая принимает строку и возвращает число. 
Строка начинает с букв а заканчивается числом, количество букв не известно может быть ноль.
Число точно не меньше одной цифры

Примеры для тестирования:
's1', 's132', 'asdf111', '111'

In [ ]:
def to_int(s):
    k = 0
    while not s[k].isdigit():
        k += 1
    return int(s[k:])

In [99]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [ ]:
list(range(1,10,2))

In [ ]:
def to_int(s):

In [103]:
# range(1, 10**10000)

In [104]:
list(range(-10, 10, 3))

[-10, -7, -4, -1, 2, 5, 8]

In [105]:
list(range(10, 0, -3))

[10, 7, 4, 1]

In [ ]:
def to_int(s):
    for k in range(len(s)):
        if s[k].isdigit():
            return int(s[k:])

In [106]:
a

['stroka1', 'stroka2', 'stroka3', 'stroka1', 'stroka2', 'stroka3']

In [108]:
list(enumerate(a))

[(0, 'stroka1'),
 (1, 'stroka2'),
 (2, 'stroka3'),
 (3, 'stroka1'),
 (4, 'stroka2'),
 (5, 'stroka3')]

In [ ]:
def to_int(s):
    for k, el in enumerate(s):
        # print(k, el)
        if el.isdigit():
            return int(s[k:])

In [110]:
list(range(5))

[0, 1, 2, 3, 4]

In [111]:
import pandas as pd

In [112]:
import numpy as np

In [119]:
d =[ 
    {
        "name": "Artem",
        "value": 3,
        "klass": "10k",
    },
    {
        "name": "Stas",
        "value": 4,
        "klass": "10n",
    },
    {
        "name": "Lada",
        "value": 5,
        "klass": "10n",
    },
]
data = pd.DataFrame(d)

In [120]:
data

  klass   name  value
0   10n  Artem      3
1   10n   Stas      4
2   10n   Lada      5

In [121]:
data.to_csv("klass.csv")

In [124]:
'a,c,d,e'.split(",")

['a', 'c', 'd', 'e']

In [125]:
",".join(['a', 'b', 'c'])

'a,b,c'

In [ ]:
def get_name(file_name, klass, value):
    pass



get_name("klass.csv", "10n", 5)