In [ ]:
1 чет нечет - готово

2 чет чет - найти четный больший элемент и нечетный меньший 
3 нечет нечет
4 нечет чет

In [7]:
a = []
b = []
with open("20230401/inf_26_04_21_26.txt") as f:
    for i, line in enumerate(f.readlines()):
        if i == 0:
            continue
        n = int(line.strip())
        if n % 2:
            a.append(n)
        else:
            b.append(n)
a = sorted(a)
b = sorted(b)

In [11]:
b1 = b[:5]
b1

[973318, 2409028, 2591886, 2750038, 2811046]

In [12]:
a1 = a[:5]
a1

[257355, 1291573, 1510913, 1649367, 1685633]

In [31]:
import numpy as np
import pandas as pd
s = set(a)
max_el = 0
col_el = 0
# m = np.zeros((len(a), len(b))).astype(int)
for i in range(len(a)):
    for j in range(len(b)):
        m = a[i] + b[j]
        if m in s:
            if m > max_el:
                max_el = m
            col_el += 1
# m = pd.DataFrame(m, columns=a1, index=b1)

In [32]:
col_el, max_el

(15, 954387771)

In [28]:
len(a)*len(b)*len(b)

15029618688

In [26]:
m

         257355   1291573  1510913  1649367  1685633
973318   1230673  2666383  2849241  3007393  3068401
2409028  2264891  3700601  3883459  4041611  4102619
2591886  2484231  3919941  4102799  4260951  4321959
2750038  2622685  4058395  4241253  4399405  4460413
2811046  2658951  4094661  4277519  4435671  4496679

In [33]:
np.sqrt(10_000_000)

3162.2776601683795

In [40]:
d = {i: 0 for i in range(3,10_000,2)}
for i in range(3, 10_000, 2):
    for j in range(i+2, 10_000, 2):
        if j % i == 0:
            d[j] = 1
d1 = [k for k,v in d.items() if v == 0]
len(d1)

1228

In [42]:
n = 10_000_001
r = 0
while True:
    k = 0
    s = 0
    for el in range(3, 10_000, 2):
        if n % el == 0:
            k += 1
            s += n // el
        if k == 2:
            break
    if 0 < s < 10_000:
        print(n, s)
        r += 1
    if r == 5:
        break
    n += 2

10000043 6876
10000153 6374
10000163 6924
10000183 8024
10000217 8358